<!-- Page Header -->
<div class="content bg-image overflow-hidden" style="background-image: url('assets/img/photos/photo3@2x.jpg');">
    <div class="push-50-t push-15">
        <h1 class="h2 text-white animated zoomIn">Dashboard</h1>
        <h2 class="h5 text-white-op animated zoomIn">Welcome Administrator</h2>
    </div>
</div>
<!-- END Page Header -->

<!-- Stats -->
<div class="content bg-white border-b">
    <div class="row items-push text-uppercase">
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Product Sales</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> Today</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">300</a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Product Sales</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> This Month</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">8,790</a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Total Earnings</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> All Time</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">$ 93,880</a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Average Sale</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> All Time</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">$ 270</a>
        </div>
    </div>
</div>
<!-- END Stats -->

<!-- Page Content -->
<div class="content">
    <div class="row">
        <div class="col-lg-6">
            <div class="block">
                <div class="block-header">
                    <h3 class="block-title">{{charts.five.title}}</h3>
                </div>
                <div class="block-content block-content-full text-center">
                    <five-bars-chart chart-data="charts.five.data"></five-bars-chart>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div id="block-six" class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-ng-click="charts.six.onClick('#block-six')" data-action="refresh_toggle">
                                <i class="si si-refresh"></i>
                            </button>
                        </li>
                    </ul>
                    <h3 class="block-title">{{charts.six.title}} (Click on a segment to get a zoomed-in view of its children)</h3>
                </div>
                <div class="block-content block-content-full text-center">
                    <div id="code_hierarchy_legend"><h2>&nbsp;</h2><p>&nbsp;</p></div>
                    <div id="code_hierarchy">&nbsp;</div>
                    <six-bars-chart chart-data="charts.six.data" refresh="charts.six.refresh"></six-bars-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="block">
            <div class="block-header">
                <h3 class="block-title">{{charts.four.title}}</h3>
            </div>
            <div class="block-content block-content-full text-center" style="position: relative">
                <form class="graph-form">
                    <label><input type="radio" value="grouped" ng-model="charts.four.typeGraph"> Grouped</label>
                    <label><input type="radio" value="stacked" ng-model="charts.four.typeGraph"> Stacked</label>
                </form>
                <four-bars-chart type="charts.four.typeGraph"></four-bars-chart>
            </div>
        </div>
    </div>
    <div class="row"  style="position: relative">
        <div id="block-three" class="block">
            <div class="block-header">
                <ul class="block-options">
                    <li>
                        <button type="button" data-ng-click="charts.three.onClick('#block-three')">
                            <i class="si si-refresh"></i>
                        </button>
                    </li>
                </ul>
                <h3 class="block-title">{{charts.three.title}}</h3>
            </div>
            <div class="block-content block-content-full text-center">
                <three-bars-chart chart-data="charts.three.data" refresh="charts.three.refresh" ></three-bars-chart>
                <span class="graph-tooltip">Hover me!</span>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <div id="block-one" class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-ng-click="charts.one.onClick('#block-one')" data-action="refresh_toggle">
                                <i class="si si-refresh"></i>
                            </button>
                        </li>
                    </ul>
                    <h3 class="block-title">{{charts.one.title}}</h3>
                </div>
                <div class="block-content block-content-full text-center">
                    <one-bars-chart chart-data="charts.one.data" refresh="charts.one.refresh"></one-bars-chart>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div id="block-two" class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-ng-click="charts.two.onClick('#block-two')">
                                <i class="si si-refresh"></i>
                            </button>
                        </li>
                    </ul>
                    <h3 class="block-title">{{charts.two.title}}</h3>
                </div>
                <div class="block-content block-content-full text-center">
                    <two-bars-chart chart-data="charts.two.data" label="title" refresh="charts.two.refresh" on-click="d3OnClick(item)"></two-bars-chart>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Page Content -->
